.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-img {
  width: 100px;
  height: 150px;
  margin: 20px;
  padding: 20px;
  align-items: center;
}

.col-md-2.button{
  text-align: center;
  padding: 8%;
}

.btn.btn-primary {
  width: 157 !important;
  height: 64 !important;
  border-radius: 20 !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: darkorange !important;
  border-color: darkorange !important; 
  outline-color: darkorange !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important; 
}

.card{
  font-family:'Kanit', sans-serif;
  width: 980px;
  height: 154;
  margin: 20px auto;
  float: none;
  justify-content: center;
}

.col-md-6{
  float: none;
  position: absolute;
  margin: 30px;
  padding: 10px;
}
.card-title {
  font-size: 30;
}

.card-text {
  margin-bottom: 20px;
}

.list-ingredient.list-unstyled {
  display: inline-flex;
  font-size: 15px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.navbar-expand-lg .navbar-brand{
  font-family: 'Kanit', sans-serif !important;
  font-size: 30px !important;
  margin-left: 50px !important; 
  color: white !important; 
} 

.navbar-expand-lg{
  width: 100% !important;
  height: 65px !important;
  background-color: #FFAA00 !important; 
}

.navbar-expand-custom .navbar-nav {
  flex-direction: row; 
}
.nav-item.nav-link{
  font-family:'Kanit', sans-serif !important;
  padding-right: .5rem;
  padding-left: .5rem;
  margin-top: 10px !important;
  margin-right: 20px;
  color: white !important;
  font-size: 20px;
}

.navbar-expand-custom .navbar-collapse {
    display: flex  !important;
    align-items: flex-end !important;
}

.nav-user{
  width: 25px;
  height: 25px;
  margin-right: .5rem;
}

.nav-cart{
  width: 25px;
  height: 25px;
}

.badge.badge-secondary.badge-pill{
  background-color: #D4320E;
  color: white;
}

.collapse.navbar-collapse{
  justify-content: end !important;
  margin-right: 100px;
}


.d-block.w-100{
  width: 100% !important;
  height: 600px;
}

.carousel {
  width: 100%;
  margin: auto;
  margin-bottom: 100px;
  
}

.con{
  width: 100% !important;
}

.footer-foot{
  font-family: 'Kanit', sans-serif;
  color: white;
  margin-top: 100px;
  padding-top: 40px;
  width: 100%;
  height: 265px;
  background-color: #FFAA00;
}

.col-md-5.mt-md-0.mt-3{
  padding-left: 50px;
  padding-top: 25px;
}

.col-md-3.mb-md-0.mb-3{
  margin-left: 50px;
}
.text-store{
  font-size: 36px;
}

.text-uppercase{
  font-size: 20px;
  padding-left: 30px;
  padding-top: 2px;
}

.img-footer{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.list-unstyled.place li{
  font-size: 20px;
}

.list-unstyled li{
  margin-bottom: 5px;
}

.footer-hr{
  border-top: 2px solid white;
  width: 93%;
}

.footer-copyright.text-left{
  padding-left: 50px;
  float: left;
}

.footer.text-right{
  float: right;
  padding-right: 50px;
}


.btn-cart, .btn-cart:hover, .btn-cart:active,
.btn-del, .btn-del:hover, .btn-del:active{
  background-color: Transparent !important;
  border: none !important;
  cursor:pointer !important;
  overflow: hidden !important;
  outline:none !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important; 
}

.btn-cart {
  margin-top: -3px;
}

.text-left{
  float: left;
  padding-top: 10px;
  padding-left: 5px;
}

.text-right{
  float: right;
  padding-top: 10px;
  padding-right: 10px;
}

.total.text-right{
  margin-top: 5px;
}

#popover-basic{
  float: right !important;
  margin-right: auto;
  width: 100% !important;
  background-color: #FEE8C6;
  border: none;
}

.card-block, .card.cart{
  background-color: #FEE8C6 !important;
  font-family: 'Kanit', sans-serif;
  border: none;
  width: 250px;
}

.list-menu{
  width: 250px;
  margin-bottom: 10px;
}

.order{
  text-align: center;
  margin-top: 10px;
}

.img-icon{
  width: 15px;
  height: 15px;
  margin-top: -2px;
  margin-left: -5px !important;
}

.shoppingCart{
  width: 100%;

}

.noItem{
  height: 100px;
  text-align: center;
  padding: 45px;
}

